name: deploy application

run-name: ${{ github.actor }} is deploying project
on:

  push:
    workflow_dispatch:

    jobs:
      create-folder:
        runs-on: ubuntu-latest
        steps:
          - name: Check out repository code
            uses: actions/checkout@v4
          - name: List files in the repository
            run: |
              ls -al ${{ github.workspace }}
         
