name: deploy application

run-name: ${{ github.actor }} is deploying project

on:
  push:
  workflow_dispatch:

jobs:
  create-folder:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: List files in the repository
        run: |
          ls -al ${{ github.workspace }}

  build-project:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Setup java version
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build project
        run: |
          cd springBoot
          mvn clean package spring-boot:repackage -DskipTests
          ls -al target
